# Flutter/Dart specific
**/build/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework/Flutter
**/ios/Flutter/App.framework/Info.plist
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_export_widgets.sh
**/ios/Flutter/flutter_project/.dart_tool/package_config_subset
**/ios/Flutter/flutter_project/.dart_tool/package_config.json
**/ios/Flutter/flutter_project/.dart_tool/version
**/ios/Flutter/flutter_project/.idea/
**/ios/Flutter/flutter_project/.pub/
**/ios/Flutter/flutter_project/.pub-cache/
**/ios/Flutter/flutter_project/.packages
**/ios/Flutter/flutter_project/pubspec.lock
**/ios/Flutter/flutter_project/pubspec.yaml
**/ios/Flutter/flutter_project/.metadata
**/ios/Flutter/flutter_project/ios/
**/ios/Flutter/flutter_project/android/
**/ios/Flutter/flutter_project/build/
**/ios/Flutter/flutter_project/web/
**/ios/Flutter/flutter_project/.flutter-plugins
**/ios/Flutter/flutter_project/.flutter-plugins-dependencies
**/ios/Flutter/flutter_project/.flutter-plugins-version
**/ios/Flutter/flutter_project/.flutter-plugins-dependencies.lock
**/ios/Flutter/flutter_project/.flutter-plugins-dependencies.lock.stamp
**/ios/Flutter/flutter_project/.flutter-plugins.lock
**/ios/Flutter/flutter_project/.flutter-plugins.lock.stamp
**/ios/Flutter/flutter_project/.flutter-plugins-dependencies.lock
**/ios/Flutter/flutter_project/.flutter-plugins-dependencies.lock.stamp
**/ios/Flutter/flutter_project/.flutter-plugins
**/ios/Flutter/flutter_project/.flutter-plugins-dependencies
**/ios/Flutter/flutter_project/.flutter-plugins-version

# Xcode specific
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.perspectivev3
**/ios/*.pbxuser
**/ios/*.xccheckout
**/ios/*.xcworkspace/contents.xcworkspacedata
**/ios/*.xcworkspace/xcuserdata/
**/ios/*.xcworkspace/xcshareddata/
**/ios/Flutter/Flutter.xcconfig
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Profile.xcconfig
**/ios/Flutter/Release.xcconfig

# Android specific
**/android/.gradle
**/android/.idea/
**/android/build/
**/android/local.properties
**/android/.gradle/
**/android/.idea/
**/android/.cxx/
**/android/.externalNativeBuild/
**/android/gradle/wrapper/
**/android/.android/
**/android/*.iml

# IDE-specific files
**/.idea/
**/.vscode/
**/*.iml
**/.metadata

# Other generated files
**/pubspec.lock
**/pubspec.yaml